
.producto{
display: inline-block;    
border: 1px solid black;
    
}

.carrito *{
    display: inline-block;
    margin: 20px;
    align: center;
}

.carrito * p{
    display: block;
    margin: 0px;
    align: center;
}


