
.producto{
display: inline-block;    
border: 1px solid black;
    padding: 10px; 
}

.carrito {
    
}

[id ^="carrito_"] {
    display: inline-block;
    margin: 10px;

    border: 3px solid #6600cc;
    border-radius: 4px;
    
    background-color:  #EFA0EA;
}

[class ^="carrito_"] img {
        align: center;
}

.carrito * p{
    display: block;
    margin: 0px;
    align: center;
}


